{% extends "accounts/base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container py-5">

    {% if user.is_authenticated%}

        <div class="mb-4 p-4 bg-body-tertiary rounded-4 shadow-sm">
            <h2 class="fw-bold mb-3">Welcome, {{ user.username }}!</h2>
            

             {% if user.is_customer == True %}
                <p class="fs-5 text-secondary">
                    <a href="{% url 'customer_change' %}" class="btn btn-outline-secondary btn-lg">customer change form</a>
                </p>

            {% endif %}
            

            {% if user.is_driver == True %}
                <p class="fs-5 text-secondary">
                    <a href="{% url 'driver_change' %}" class="btn btn-outline-secondary btn-lg">driver change form</a>
                    Employee ID: <span class="fw-semibold text-dark">{{ user.driverprofile.employee_id }}</span><br>
                    Location: <span class="fw-semibold text-dark">{{ user.driverprofile.location }}</span>
                </p>

            {% endif %}

            <form action="{% url 'logout' %}" method="post" class="mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg">
                    Log Out
                </button>
            </form>
        </div>

    {% else %}

        <div class="p-4 bg-body-tertiary rounded-4 shadow-sm">
            <p class="fs-4 text-dark mb-3">You are not logged in.</p>

            <div class="d-flex gap-3">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-secondary btn-lg">Sign Up</a>
                <a href="{% url 'employee_signup' %}" class="btn btn-outline-secondary btn-lg">Employee Sign Up</a>
            </div>
        </div>

    {% endif %}

</div>
{% endblock content %}
